<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Esqueceu a senha</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href ="\static\css\esqueceu.css">
    </head>
    <body>

        <div class="container">

            <h2>Esqueceu a senha</h2>

            <form id="esqueceuSenhaForm">

                <div class="form-group">

                    <label for="email"> E-mail </label>
                    <input type="email" class="form-control" id="email" placeholder="Insira seu e-mail" required>
                    
                </div>

                <button type="submit" class="btn btn-primary"> Enviar </button>

            </form>

        </div>

    </body>

</html>